body {
    color: rgb(0, 0, 0);
    background-color: rgb(136, 208, 218);
    margin: 0px;
    font-family: "Oswald", sans-serif;
}

header {
    border-bottom: solid 2px red;
    padding: 20px;
    font-size: 32px;
    color: black;

}

section {
    background: green;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.chamada-texto {
    margin-right: 5%;
}
.categoria-vídeos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;

}